{% extends "base.html" %}

{% block app_content %}
    <h1>Sign In</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <label for="username">Username</label><br>
                <input name="username" id="username" required><br>
                <br>
                <label for="password">Password</label><br>
                <input type="password" name="password" id="password" required><br>
                <br>
                <input type="submit" value="Sign In.">
                <br>
            </form>
        </div>
    </div>

    <p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
    <p>
        Forgot Your Password?
        <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
    </p>
{% endblock %}