
{% extends "base.html" %}

{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="flash" style="color: red;">{{ message }}</div>
    {% endfor %}
    <form method="post">
        <label for="username">Username</label><br>
        <input name="username" id="username" required><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password" required><br>
        <input type="submit" value="Sign In.">
    </form>
{% endblock %}