    <table class="table table-hover">
        <tr>
            <td>
                <a href="{{ url_for('main.post', id=post.id) }}">
                    {{ post.title }}
                </a>
                <br>
                by
                <a href="{{ url_for('main.user', id=post.author.id) }}">
                    {{ post.author.username }}
                </a>
                <br>
                Posted at : {{ moment(post.timestamp).format('LLL') }}
            </td>
        </tr>
    </table>