{% extends "base.html" %}

{% block app_content %}
    <h3>User: {{ user.username }}</h3>
    <h4>Email: {{ user.email }}</h4>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <ul class="pagination">
        {% if prev_url %}
        <li class="page-item"><a class="page-link" href="{{ prev_url }}">Newer Posts</a></li>
        {% endif %}
        {% if next_url %}
        <li class="page-item"><a class="page-link" href="{{ next_url }}">Older Posts</a></li>
        {% endif %}
    </ul>

{% endblock %}